$colors: (
	default:#4150f3,
	red:    #E0163E,
    green: 	#34CDB9,
    yellow: #FFCC00,

    _lggray:#eaedf2,
	_gray: 	#d2d8e3,
	_dkgray:#8392a9,

	_success:	#4CD964,
	_info:		#5AC8FA,
	_warn:		#FFCC00,
	_danger: 	#FF2D55
);