@import '../../../assets/scss/variables';
@import '../../../assets/scss/fonts';

p-toolbar {
    color: black;
}

.modal-header {
    background-color: map-get($colors, _lggray) !important;
}

h1, h4 {
    font-family: 'Gotham Rounded Medium';
}