<div>
    <p-toolbar>
        <div class="p-toolbar-group-left">
            <h1>HOME</h1>
        </div>      
        <div class="p-toolbar-group-right">
            <p-splitButton styleClass="p-button-info" label="{{user.name}}" icon="pi pi-user"
            [model]="items"></p-splitButton>
        </div>
    </p-toolbar>
</div>

<p-toast-component></p-toast-component>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>

<!-- Update Modal -->
<div class="modal fade" id="updateModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Alterar Dados</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <h4 class="col-sm-8">Alterar Nome</h4>
                    </div>
                    <br>
                    <div class="form-group row">
                        <label for="name" class="col-sm-2 col-form-label">Nome:</label>
                        <input type="name" class="col-sm-8 form-control" name="name" 
                            placeholder="{{user.name}}" [(ngModel)]="userForm.name" autocomplete="off">
                        <p-button class="col-sm-2" icon="pi pi-pencil" [disabled]="!userForm.nameUpdateValidation()"
                            (onClick)="updateName()"></p-button>
                    </div>

                    <hr>

                    <div class="row">
                        <h4 class="col-sm-8">Alterar Email</h4>
                    </div>
                    <br>
                    <div class="form-group row">
                        <label for="email" class="col-sm-2 col-form-label">Email:</label>
                        <input type="email" class="col-sm-8 form-control" name="email" 
                            placeholder="{{user.email}}" [(ngModel)]="userForm.email" autocomplete="off">
                    </div>
                    <div class="form-group row">
                        <label for="emailPassword" class="col-sm-2 col-form-label">Senha:</label>
                        <input type="password" class="col-sm-8 form-control" name="emailPassword" 
                            placeholder="Senha Atual (Para alterar o email)" [(ngModel)]="userForm.emailPassword" autocomplete="off">
                        <p-button class="col-sm-2" icon="pi pi-pencil" [disabled]="!userForm.emailUpdateValidation()"
                            (onClick)="updateEmail()"></p-button>
                    </div>

                    <hr>

                    <div class="row">
                        <h4 class="col-sm-8">Alterar Senha</h4>
                    </div>
                    <br>
                    <div class="form-group row">
                        <label for="oldPassword" class="col-sm-4 col-form-label">Senha Atual:</label>
                        <input type="password" class="col-sm-6 form-control" name="oldPassword" 
                            [(ngModel)]="userForm.oldPassword" autocomplete="off">
                    </div>
                    <div class="form-group row">
                        <label for="newPassword" class="col-sm-4 col-form-label">Nova Senha:</label>
                        <input type="password" class="col-sm-6 form-control" name="newPassword" 
                            [(ngModel)]="userForm.newPassword" autocomplete="off">
                    </div>
                    <div class="form-group row">
                        <label for="passConfirmation" class="col-sm-4 col-form-label">Confirmar Senha:</label>
                        <input type="password" class="col-sm-6 form-control" name="passConfirmation" 
                            [(ngModel)]="userForm.passConfirmation" autocomplete="off">
                        <p-button class="col-sm-2" icon="pi pi-pencil" [disabled]="!userForm.passwordUpdateValidation()"
                            (onClick)="updatePassword()"></p-button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="p-button-secondary" pButton icon="pi pi-times" label="Cancelar" data-dismiss="modal"></button>
            </div>
        </div>
    </div>
</div>