@import '../../../assets/scss/variables';

.card {
    background: white;
    min-width: 300px;
    max-width: 450px;
    min-height: 250px;
    margin: auto;
}

.card-header {
    background: map-get($colors, default) !important;
    width: 100%;
    height: 50px;
    color: white;
    font-size: 20px;
}

.card-body {
    .btn {
        background: map-get($colors, default) !important;
        color: white;
        width: 100%;
    }
}

.card-footer {
    background: white;
    text-align: right;

    .link {
        color: map-get($colors, default) !important;
    }
}
