@import './assets/scss/variables';
@import './assets/scss/fonts';

body {
    background: map-get($colors, _lggray) !important;
}

* {
    font-size: 14px;
    font-family: 'Gotham Rounded Light';
}

.screen-centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title-font {
    font-family: 'Gotham Rounded Medium';
}